{% extends "base.html" %}

{% block content %}
<p>Hi nothing fancy to say, just that my name is Vishakh and that this lyric generator started as a project for me to learn about LSTMs</p>
<p> The lyrics generated are not too grammar friendly, but Hey song is a song right</p>
<p>but also soemtimes the lyrics do not make any sense, which I am assuming is because of the small dataset, and the fact that LSTMs just check which word is the next without taking into consideration whether the sentence actually make sense, like what a transformer would do</p>
{% endblock %}